<div class="container">
  <div class="row justify-content-center align-items-center" style="height:70vh;">
    <div class="col-md-6 mittcentrerat-innehall">
      <h1>Bokstavsspel</h1>
      <p>Dra rätt bokstav till rätt ruta och tryck på den glada gubben</p>
      <a href="/game/play">Börja spela</a>
    </div>
  </div>
</div>