<div class="container">
  <div class="row justify-content-center align-items-center" style="height:70vh;">
    <div class="col-md-6 text-center">
      <h1 class="mb-4 mt-4" id="indexGreeting">Bokstavsspel</h1>
      <p id="indexText">Dra rätt bokstav till rätt ruta och tryck på den glada gubben</p>
      <a id="spelaIgen" class="btn btn-primary btn-lg mt-4" href="/game/play">Börja spela</a>
    </div>
  </div>
</div>