<img src="./uploads/<%= fileName %>" alt="bild" id="presentImage">

<form method="post" action="./game/play">
  <div>
    <input type="text" name="correctAnswer">
  </div>
  <div>
    <button type="submit">Svara</button>
  </div>
</form>