<div class="container">
  <div class="row justify-content-center align-items-center" style="height:70vh;">
    <div class="col-md-6 mittcentrerat-innehall">
      <img id="gamePicture" src="<%= viewData.imageUrl %>" alt="picture">
    </div>
  </div>
</div>
<letter-element id="letterElement" data-shuffledAnswer="<%= viewData.shuffledAnswer %>" data-correctAnswer="<%= viewData.correctAnswer %>"></letter-element>
