<img src="./uploads/<%= fileName %>" alt="picture">

<form method="post" action="./game/play">
  <div>
    <input type="text" name="correctAnswer">
  </div>
  <div>
    <button type="submit">Svara</button>
  </div>
</form>

<div id="good">BRA!</div>