<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <img id="gamePicture" src="<%= viewData.imageUrl %>" alt="picture">
    </div>
  </div>
  <div class="row ">
    <div class="col-12">
      <letter-element id="letterElement" data-shuffledAnswer="<%= viewData.shuffledAnswer %>" data-correctAnswer="<%= viewData.correctAnswer %>"></letter-element>
    </div>
  </div>
</div>


