<img src="<%= viewData.imageUrl %>" alt="picture">

  <div>
    <% for (let i = 0; i < viewData.shuffledAnswer.length; i++) { %>
      <div class="letterContainer" draggable="true" 
      id="letter<%= i %>"> <%= viewData.shuffledAnswer[i] %> </div>
    <% } %>
  </div>
  <div id="dropZoneContainer" data-correctAnswer="<%= viewData.correctAnswer %>">
    <% for (let i = 0; i < viewData.shuffledAnswer.length; i++) { %>
      <div class="dropZone"></div>
    <% } %>
  </div>
  <form method="post" action="./game/play">
    <div>
      <input id="correctLetter" class="hide" type="text" name="correctAnswer">
    </div>
    <div>
      <button id="correctAnswerButton" class="hide" type="submit">Nästa bild</button>
    </div>
  </form>