<img src="./uploads/<%= viewData.fileName %>" alt="picture">

<form method="post" action="./game/play">
  <div>
    <input type="text" name="correctAnswer">
  </div>
  <div>
    <button type="submit">Svara</button>
  </div>
</form>

<% for (let i = 0; i < viewData.shuffledAnswer.length; i++) { %>
  <div class="letterContainer" draggable="true"> <%= viewData.shuffledAnswer[i] %> </div>
<% } %>
<% for (let i = 0; i < viewData.shuffledAnswer.length; i++) { %>
  <div class="dropZone"></div>
<% } %>

<a href="/admin">Admin</a>