.letterContainer {
  width: 100px; /* Bredden på boxen */
  height: 100px; /* Höjden på boxen */
  background-color: #de1a1a; /* Bakgrundsfärg */
  border: 2px solid #dd0e75; /* Ram med tjocklek och färg */
  border-radius: 10px; /* Rundade hörn */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Skugga */
  font-size: 50px; /* Justera textstorleken */
  color: rgb(17, 17, 31); /* Ändra textfärgen */
  font-family: Arial, sans-serif; /* Justera typsnittet */
  text-align: center; /* Centrera horisontellt */
  line-height: 100px; /* Centrera vertikalt */
  display: inline-block;
  cursor: move;
}

.dropZone {
  width: 100px; /* Bredden på boxen */
  height: 100px; /* Höjden på boxen */
  background-color: #de1a6c; /* Bakgrundsfärg */
  border: 2px solid #dd0e75; /* Ram med tjocklek och färg */
  border-radius: 10px; /* Rundade hörn */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Skugga */
  font-size: 50px; /* Justera textstorleken */
  color: rgb(17, 17, 31); /* Ändra textfärgen */
  font-family: Arial, sans-serif; /* Justera typsnittet */
  text-align: center; /* Centrera horisontellt */
  line-height: 100px; /* Centrera vertikalt */
  display: inline-block;
}