<form method="post" action="./admin/create" enctype="multipart/form-data">
  <div>
    <input type="file" name="image">
  </div>
  <div>
    <input type="text" name="correctAnswer">
  </div>
  <div>
    <button type="submit">Lägg till</button>
  </div>
</form>
<a href="admin">Lista bilder</a>