<h1>Delete image</h1>
<form method="post" action="admin/<%= viewData?.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <img id="deletePicture" src="<%= viewData.imageUrl %>" alt="Picture">
  <div>
    <button type="submit">Delete</button>
  </div>
</form>